In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import gc
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('./Binance_BTCUSDT_1h.csv', date_parser = True)
df = df.reindex(-np.sort(-np.arange(len(df))))
len(df)

40424

In [3]:
#擷取⽇期及收盤價
df2 = df.loc[:, ('date','close', 'open','high','low','Volume BTC')] ; del df ; gc.collect()
#切出⽇期時間欄位，符號統⼀
df2['NewDate'] = df2.loc[:, 'date'].str.slice(start = 0, stop = 10).str.replace('-', '/').str.replace('/0', '/').str.rsplit(pat=' ', n=1).apply(lambda x : x[0])
#判斷⽇期欄位格式
df2['AMPM'] = df2.loc[:, 'date'].str.contains(pat = 'AM|PM')
#依⽇期欄位格式切分兩分DF，有AMPM的在df3，正常格式的在df4
df3 = df2[df2['AMPM'] == 1]
df4 = df2[df2['AMPM'] == 0]
del df2 ; gc.collect()

48

In [4]:
#切出⽇期欄位中的⼩時
df3['Hour'] = df3.loc[:, 'date'].str.slice(start = 10, stop = 13).str.replace(':', '').apply(lambda x : pd.to_numeric(x))
df3['AMPM'] = df3.loc[:, 'date'].str.slice(start = 14, stop = 16).apply(lambda x: 12 if (x == 'PM') else 0)
df3['24Hr'] = (df3['Hour'] + df3['AMPM'])
#轉換為24⼩時制
df3['24Hr'] = df3['24Hr'].apply(lambda x: (x == 24 and 12) or (x == 12 and '00') or x)
df3['24Hr'] = df3['24Hr'].apply(lambda x: '0'+str(x) if len(str(x)) == 1 else str(x))

#轉為時間格式
df3['NewDateTime'] = (df3['NewDate'] + ' ' +df3['24Hr'])
df3['NewDateTime'] = df3['NewDateTime'].apply(lambda x: pd.to_datetime(x, format = "%Y/%m/%d %H"))
#移除重複
df3 = df3[['close', 'open','high','low','Volume BTC', 'NewDateTime','NewDate']].drop_duplicates()
df3.head()

,close,open,high,low,Volume BTC,NewDateTime,NewDate
40423,4308.83,16199.91,16199.91,4261.32,44.5100,2017-08-17 04:00:00,2017/8/17
40422,4315.32,4308.83,4328.69,4291.37,23.2300,2017-08-17 05:00:00,2017/8/17
40421,4324.35,4315.32,4345.45,4309.37,7.2300,2017-08-17 06:00:00,2017/8/17
40420,4349.99,4324.35,4349.99,4287.41,4.4400,2017-08-17 07:00:00,2017/8/17
40419,4360.69,4349.99,4377.85,4333.32,0.9499,2017-08-17 08:00:00,2017/8/17

In [5]:
#轉為時間格式並移除重複
df4['NewDateTime'] = df4['date'].apply(lambda x: pd.to_datetime(x, format = "%Y/%m/%d %H:%M"))
df4 = df4[['close', 'open','high','low','Volume BTC', 'NewDateTime','NewDate']].drop_duplicates()
df4.head()

,close,open,high,low,Volume BTC,NewDateTime,NewDate
14487,11801.17,11783.31,11820.61,11731.71,2194.598589,2020-08-01 23:00:00,2020/8/1
14485,11782.63,11801.17,11857.00,11740.00,2872.638184,2020-08-02 00:00:00,2020/8/2
14483,11942.55,11782.63,11942.55,11772.13,3707.136801,2020-08-02 01:00:00,2020/8/2
14481,11928.58,11942.54,11965.01,11892.88,3785.415559,2020-08-02 02:00:00,2020/8/2
14479,12000.00,11928.40,12000.00,11870.00,3746.422743,2020-08-02 03:00:00,2020/8/2

In [6]:
#合併df3、df4，並移除重複
df5 = pd.concat([df3, df4]) ; df6 = df5.drop_duplicates()
#確認刪除多少資料
print(len(df5), len(df6))
del (df3, df4, df5)
gc.collect()

40424 40424

7

In [7]:
#投報率
df6['returns']=df6['close']/df6['close'].shift(1)
df6['log_returns']=np.log(df6['returns'])
df6 = df6[df6['returns'].notna()]
# df6.dropna()
df6.head()

,close,open,high,low,Volume BTC,NewDateTime,NewDate,returns,log_returns
40422,4315.32,4308.83,4328.69,4291.37,23.2300,2017-08-17 05:00:00,2017/8/17,1.001506,0.001505
40421,4324.35,4315.32,4345.45,4309.37,7.2300,2017-08-17 06:00:00,2017/8/17,1.002093,0.002090
40420,4349.99,4324.35,4349.99,4287.41,4.4400,2017-08-17 07:00:00,2017/8/17,1.005929,0.005912
40419,4360.69,4349.99,4377.85,4333.32,0.9499,2017-08-17 08:00:00,2017/8/17,1.002460,0.002457
40418,4444.00,4360.69,4445.78,4360.00,10.7600,2017-08-17 09:00:00,2017/8/17,1.019105,0.018925

In [8]:
#依照年份及週次分組
df6['Year'] = df6.loc[:, 'NewDateTime'].dt.year
df6['Week'] = df6.loc[:, 'NewDateTime'].dt.isocalendar().week
test = np.array(df6.groupby(['Year', 'Week']), dtype = object).T
#排除⻑度不為168的array
Array = np.empty([1, 168])
for i in range(0, len(np.array(test[1]))):
    if len(np.array(test[1][i]['close'])) == 168 :
        Array = np.append(Array, np.array(test[1][i]['close']).reshape(1, -1), axis = 0)

AttributeError: 'DatetimeProperties' object has no attribute 'isocalendar'

In [9]:
df6.head()

,close,open,high,low,Volume BTC,NewDateTime,NewDate,returns,log_returns,Year
40422,4315.32,4308.83,4328.69,4291.37,23.2300,2017-08-17 05:00:00,2017/8/17,1.001506,0.001505,2017
40421,4324.35,4315.32,4345.45,4309.37,7.2300,2017-08-17 06:00:00,2017/8/17,1.002093,0.002090,2017
40420,4349.99,4324.35,4349.99,4287.41,4.4400,2017-08-17 07:00:00,2017/8/17,1.005929,0.005912,2017
40419,4360.69,4349.99,4377.85,4333.32,0.9499,2017-08-17 08:00:00,2017/8/17,1.002460,0.002457,2017
40418,4444.00,4360.69,4445.78,4360.00,10.7600,2017-08-17 09:00:00,2017/8/17,1.019105,0.018925,2017

In [10]:
# 加入SOPR
df_SOPR = pd.read_csv('./sopr-btc-24h.csv', date_parser = True)
df_SOPR = df_SOPR.reindex(-np.sort(-np.arange(len(df_SOPR))))
df_SOPR.tail()
df_SOPR2 = df_SOPR.loc[:, ('t','v')] ; del df_SOPR ; gc.collect()
#切出⽇期時間欄位，符號統⼀
df_SOPR2['NewDate'] = df_SOPR2.loc[:, 't'].str.slice(start = 0, stop = 10).str.replace('-', '/').str.replace('/0', '/').str.rsplit(pat=' ', n=1).apply(lambda x : x[0])
df_SOPR2 = df_SOPR2[['v','NewDate']].drop_duplicates()
merge_SOPR = pd.merge(df6,df_SOPR2, on='NewDate')
merge_SOPR = merge_SOPR.rename(columns = {"v":"SOPR"})
len(merge_SOPR)

19599

In [11]:
merge_SOPR['Hour'] = merge_SOPR.loc[:, 'NewDateTime'].dt.hour
merge_SOPR['three'] = merge_SOPR['Hour'].apply(lambda x: 0 if x<8 else (8 if x<16 else 16))
merge_SOPR['three'] = merge_SOPR['Hour'].apply(lambda x: '0' if x<8 else ('8' if x<16 else '16'))
merge_SOPR['8h'] =  merge_SOPR["NewDate"] + ":" + merge_SOPR["three"]
merge_SOPR= merge_SOPR.drop(['Hour', 'three'], axis=1)
merge_SOPR

,close,open,high,low,Volume BTC,NewDateTime,NewDate,returns,log_returns,Year,SOPR,8h
0,7177.02,7195.23,7196.25,7175.46,480.93000,2020-01-01 00:00:00,2020/1/1,0.997469,-0.002534,2020,0.997801,2020/1/1:0
1,7216.27,7177.02,7230.00,7175.71,836.51000,2020-01-01 01:00:00,2020/1/1,1.005469,0.005454,2020,0.997801,2020/1/1:0
2,7242.85,7216.27,7244.87,7211.41,626.60000,2020-01-01 02:00:00,2020/1/1,1.003683,0.003677,2020,0.997801,2020/1/1:0
3,7225.01,7242.85,7245.00,7220.00,748.76000,2020-01-01 03:00:00,2020/1/1,0.997537,-0.002466,2020,0.997801,2020/1/1:0
4,7217.27,7225.01,7230.00,7215.03,442.09000,2020-01-01 04:00:00,2020/1/1,0.998929,-0.001072,2020,0.997801,2020/1/1:0
5,7224.21,7217.27,7229.76,7216.65,331.48000,2020-01-01 05:00:00,2020/1/1,1.000962,0.000961,2020,0.997801,2020/1/1:0
6,7225.62,7224.21,7236.27,7221.51,592.82000,2020-01-01 06:00:00,2020/1/1,1.000195,0.000195,2020,0.997801,2020/1/1:0
7,7209.83,7225.62,7232.94,7199.11,600.11000,2020-01-01 07:00:00,2020/1/1,0.997815,-0.002188,2020,0.997801,2020/1/1:0
8,7200.64,7209.83,7210.00,7180.00,870.90000,2020-01-01 08:00:00,2020/1/1,0.998725,-0.001275,2020,0.997801,2020/1/1:8
9,7188.77,7200.64,7210.51,7188.00,597.70000,2020-01-01 09:00:00,2020/1/1,0.998352,-0.001650,2020,0.997801,2020/1/1:8
10,7202.00,7188.77,7210.00,7185.20,519.14000,2020-01-01 10:00:00,2020/1/1,1.001840,0.001839,2020,0.997801,2020/1/1:8
11,7197.20,7202.00,7237.73,7188.61,1003.74000,2020-01-01 11:00:00,2020/1/1,0.999334,-0.000667,2020,0.997801,2020/1/1:8
12,7225.59,7197.20,7233.33,7196.15,818.73000,2020-01-01 12:00:00,2020/1/1,1.003945,0.003937,2020,0.997801,2020/1/1:8
13,7221.20,7225.59,7231.89,7212.88,571.45000,2020-01-01 13:00:00,2020/1/1,0.999392,-0.000608,2020,0.997801,2020/1/1:8
14,7221.43,7221.20,7234.97,7208.17,577.26000,2020-01-01 14:00:00,2020/1/1,1.000032,0.000032,2020,0.997801,2020/1/1:8
15,7234.19,7221.43,7255.00,7218.29,1256.49000,2020-01-01 15:00:00,2020/1/1,1.001767,0.001765,2020,0.997801,2020/1/1:8
16,7245.37,7234.19,7246.42,7214.00,835.92000,2020-01-01 16:00:00,2020/1/1,1.001545,0.001544,2020,0.997801,2020/1/1:16
17,7236.83,7245.37,7249.99,7224.92,1022.23000,2020-01-01 17:00:00,2020/1/1,0.998821,-0.001179,2020,0.997801,2020/1/1:16
18,7240.67,7236.83,7246.72,7225.17,574.05000,2020-01-01 18:00:00,2020/1/1,1.000531,0.000530,2020,0.997801,2020/1/1:16
19,7229.48,7240.67,7241.00,7225.49,402.18000,2020-01-01 19:00:00,2020/1/1,0.998455,-0.001547,2020,0.997801,2020/1/1:16
20,7236.73,7229.48,7242.98,7224.68,378.62000,2020-01-01 20:00:00,2020/1/1,1.001003,0.001002,2020,0.997801,2020/1/1:16
21,7233.17,7236.73,7242.75,7227.00,274.92000,2020-01-01 21:00:00,2020/1/1,0.999508,-0.000492,2020,0.997801,2020/1/1:16
22,7197.99,7233.17,7234.49,7186.00,726.36000,2020-01-01 22:00:00,2020/1/1,0.995136,-0.004876,2020,0.997801,2020/1/1:16
23,7200.85,7197.99,7204.17,7175.15,774.75000,2020-01-01 23:00:00,2020/1/1,1.000397,0.000397,2020,0.997801,2020/1/1:16
24,7211.02,7200.85,7212.50,7185.46,373.98000,2020-01-02 00:00:00,2020/1/2,1.001412,0.001411,2020,0.996802,2020/1/2:0
25,7190.99,7211.02,7211.16,7185.11,372.76000,2020-01-02 01:00:00,2020/1/2,0.997222,-0.002782,2020,0.996802,2020/1/2:0
26,7169.02,7190.99,7191.00,7155.35,1265.12000,2020-01-02 02:00:00,2020/1/2,0.996945,-0.003060,2020,0.996802,2020/1/2:0
27,7129.61,7169.02,7169.06,7120.37,1409.21000,2020-01-02 03:00:00,2020/1/2,0.994503,-0.005512,2020,0.996802,2020/1/2:0
28,7142.21,7129.61,7161.00,7116.70,1182.93000,2020-01-02 04:00:00,2020/1/2,1.001767,0.001766,2020,0.996802,2020/1/2:0
29,7138.93,7142.21,7152.05,7126.93,536.50000,2020-01-02 05:00:00,2020/1/2,0.999541,-0.000459,2020,0.996802,2020/1/2:0
...,...,...,...,...,...,...,...,...,...,...,...,...
19569,49174.27,48961.23,49232.00,48780.00,1736.74302,2021-12-06 18:00:00,2021/12/6,1.004351,0.004342,2021,0.997749,2021/12/6:16
19570,49103.00,49174.26,49366.00,49060.85,1440.35674,2021-12-06 19:00:00,2021/12/6,0.998551,-0.001450,2021,0.997749,2021/12/6:16
19571,48834.10,49103.00,49227.90,48760.00,1057.56578,2021-12-06 20:00:00,2021/12/6,0.994524,-0.005491,2021,0.997749,2021/12/6:16
19572,50059.22,48834.34,50669.24,48800.68,3881.48270,2021-12-06 21:00:00,2021/12/6,1.025087,0.024778,2021,0.997749,2021/12/6:16
19573,50739.91,50059.22,50891.11,50047.01,2886.39192,2021-12-06 22:00:00,2021/12/6,1.013598,0.013506,2021,0.997749,2021/12/6:16
19574,50441.92,50746.48,50857.63,50267.00,1674.56909,2021-12-06 23:00:00,2021/12/6,0.994127,-0.005890,2021,0.997749,2021/12/6:16
19575,50634.58,50441.91,50750.00,50332.62,1533.73366,2021-12-07 00:00:00,2021/12/7,1.003819,0.003812,2021,1.004981,2021/12/7:0
19576,50615.67,50634.59,51430.00,50337.01,2622.47355,2021-12-07 01:00:00,2021/12/7,0.999627,-0.000374,2021,1.004981,2021/12/7:0
19577,50635.25,50615.67,50855.09,50500.79,1161.74003,2021-12-07 02:00:00,2021/12/7,1.000387,0.000387,2021,1.004981,2021/12/7:0
19578,50945.03,50635.25,51206.32,50588.37,1266.95497,2021-12-07 03:00:00,2021/12/7,1.006118,0.006099,2021,1.004981,2021/12/7:0
19579,50914.61,50945.02,51188.00,50797.86,1490.99037,2021-12-07 04:00:00,2021/12/7,0.999403,-0.000597,2021,1.004981,2021/12/7:0
19580,50872.92,50914.61,51200.00,50821.20,1016.79911,2021-12-07 05:00:00,2021/12/7,0.999181,-0.000819,2021,1.004981,2021/12/7:0
19581,51148.20,50872.92,51200.00,50865.61,992.81175,2021-12-07 06:00:00,2021/12/7,1.005411,0.005397,2021,1.004981,2021/12/7:0
19582,50907.27,51148.20,51335.16,50811.44,1301.08953,2021-12-07 07:00:00,2021/12/7,0.995290,-0.004722,2021,1.004981,2021/12/7:0
19583,51203.11,50907.27,51256.00,50810.03,1426.27045,2021-12-07 08:00:00,2021/12/7,1.005811,0.005795,2021,1.004981,2021/12/7:8
19584,51260.17,51203.11,51500.00,51001.41,2058.93551,2021-12-07 09:00:00,2021/12/7,1.001114,0.001114,2021,1.004981,2021/12/7:8
19585,51309.09,51260.16,51383.91,51109.00,1230.51656,2021-12-07 10:00:00,2021/12/7,1.000954,0.000954,2021,1.004981,2021/12/7:8
19586,51456.20,51309.10,51500.00,51250.00,1269.78585,2021-12-07 11:00:00,2021/12/7,1.002867,0.002863,2021,1.004981,2021/12/7:8
19587,50912.07,51456.21,51542.00,50611.04,3083.94084,2021-12-07 12:00:00,2021/12/7,0.989425,-0.010631,2021,1.004981,2021/12/7:8
19588,50912.54,50911.41,51080.00,50811.11,1537.93905,2021-12-07 13:00:00,2021/12/7,1.000009,0.000009,2021,1.004981,2021/12/7:8
19589,51463.66,50912.54,51500.00,50821.87,1628.27167,2021-12-07 14:00:00,2021/12/7,1.010825,0.010767,2021,1.004981,2021/12/7:8
19590,51734.15,51463.67,51936.33,51345.55,2768.30368,2021-12-07 15:00:00,2021/12/7,1.005256,0.005242,2021,1.004981,2021/12/7:8
19591,51358.51,51734.15,51866.88,51071.00,2173.12358,2021-12-07 16:00:00,2021/12/7,0.992739,-0.007287,2021,1.004981,2021/12/7:16
19592,50999.97,51353.22,51372.76,50850.00,1427.28582,2021-12-07 17:00:00,2021/12/7,0.993019,-0.007006,2021,1.004981,2021/12/7:16
19593,50921.61,50999.97,51200.00,50900.00,1096.36955,2021-12-07 18:00:00,2021/12/7,0.998464,-0.001538,2021,1.004981,2021/12/7:16
19594,50884.48,50921.61,51204.77,50666.00,1312.93360,2021-12-07 19:00:00,2021/12/7,0.999271,-0.000729,2021,1.004981,2021/12/7:16
19595,50441.59,50884.49,51006.20,50150.00,2194.52091,2021-12-07 20:00:00,2021/12/7,0.991296,-0.008742,2021,1.004981,2021/12/7:16
19596,50489.92,50441.59,50856.46,50358.99,1468.15088,2021-12-07 21:00:00,2021/12/7,1.000958,0.000958,2021,1.004981,2021/12/7:16
19597,50245.25,50489.93,50626.43,50039.74,1362.13177,2021-12-07 22:00:00,2021/12/7,0.995154,-0.004858,2021,1.004981,2021/12/7:16
19598,50588.95,50245.25,50710.99,50141.60,828.39608,2021-12-07 23:00:00,2021/12/7,1.006840,0.006817,2021,1.004981,2021/12/7:16

In [16]:
# 加入Funding rate
df_fr = pd.read_csv('./Funding Rate History_BTCUSDT Perpetual_2021-12-11.csv', date_parser = True)
df_fr = df_fr.reindex(-np.sort(-np.arange(len(df_fr))))
df_fr2 = df_fr.loc[:, ('Time','Funding Rate')] ; del df_fr ; gc.collect()
df_fr2['NewDate'] = df_fr2.loc[:, 'Time'].str.slice(start = 0, stop = 10).str.replace('-', '/').str.replace('/0', '/').str.rsplit(pat=' ', n=1).apply(lambda x : x[0])
# df_fr2 = df_fr2[['Funding Rate','NewDate']].drop_duplicates()


df_fr2['NewDateTime'] = df_fr2['Time'].apply(lambda x: pd.to_datetime(x, format = "%Y/%m/%d %H:%M"))
df_fr2['Hour'] = df_fr2.loc[:, 'NewDateTime'].dt.hour
df_fr2['three'] = df_fr2['Hour'].apply(lambda x: '0' if x<8 else ('8' if x<16 else '16'))
df_fr2['8h'] =  df_fr2["NewDate"] + ":" + df_fr2["three"]
df_fr2= df_fr2.drop(['Time','NewDate','NewDateTime','Hour', 'three'], axis=1)
df_fr2['fundingRate'] = df_fr2.loc[:, 'Funding Rate'].str.replace('%', '')
df_fr2 = df_fr2.drop(['Funding Rate'], axis=1)

merge_fr = pd.merge(merge_SOPR,df_fr2, on='8h')
merge_fr.head()

,close,open,high,low,Volume BTC,NewDateTime,NewDate,returns,log_returns,Year,SOPR,8h,fundingRate
0,7177.02,7195.23,7196.25,7175.46,480.93,2020-01-01 00:00:00,2020/1/1,0.997469,-0.002534,2020,0.997801,2020/1/1:0,-0.0025
1,7216.27,7177.02,7230.00,7175.71,836.51,2020-01-01 01:00:00,2020/1/1,1.005469,0.005454,2020,0.997801,2020/1/1:0,-0.0025
2,7242.85,7216.27,7244.87,7211.41,626.60,2020-01-01 02:00:00,2020/1/1,1.003683,0.003677,2020,0.997801,2020/1/1:0,-0.0025
3,7225.01,7242.85,7245.00,7220.00,748.76,2020-01-01 03:00:00,2020/1/1,0.997537,-0.002466,2020,0.997801,2020/1/1:0,-0.0025
4,7217.27,7225.01,7230.00,7215.03,442.09,2020-01-01 04:00:00,2020/1/1,0.998929,-0.001072,2020,0.997801,2020/1/1:0,-0.0025

In [17]:
# 加入google trend
df_GT = pd.read_csv('./googleTrend.csv', date_parser = True)
df_GT = df_GT.reindex(-np.sort(-np.arange(len(df_GT))))
df_GT.tail()
df_GT2 = df_GT.loc[:, ('date','bitcoin')] ; del df_GT ; gc.collect()

df_GT2['newdate']=df_GT2.loc[:, 'date'].str.slice(start = 0, stop = 19)
#切出⽇期時間欄位，符號統⼀
df_GT2['NewDateTime'] = df_GT2['newdate'].apply(lambda x: pd.to_datetime(x, format = "%Y/%m/%d %H"))
df_GT2 = df_GT2.drop(['date','newdate'], axis=1)
df_GT2.tail()
merge_GT = pd.merge(merge_fr,df_GT2, on='NewDateTime')
merge_GT = merge_GT.rename(columns = {"bitcoin":"googleTrend"})
merge_GT.head()

,close,open,high,low,Volume BTC,NewDateTime,NewDate,returns,log_returns,Year,SOPR,8h,fundingRate,googleTrend
0,8431.82,8145.28,8455.00,8142.00,11041.87,2020-01-08 00:00:00,2020/1/8,1.035179,0.034574,2020,1.011291,2020/1/8:0,0.0100,89
1,8370.92,8431.82,8448.14,8328.89,7355.82,2020-01-08 01:00:00,2020/1/8,0.992777,-0.007249,2020,1.011291,2020/1/8:0,0.0100,86
2,8278.59,8370.92,8422.00,8256.74,4048.91,2020-01-08 02:00:00,2020/1/8,0.988970,-0.011091,2020,1.011291,2020/1/8:0,0.0100,75
3,8300.34,8278.59,8344.00,8244.93,3947.38,2020-01-08 03:00:00,2020/1/8,1.002627,0.002624,2020,1.011291,2020/1/8:0,0.0100,68
4,8344.63,8300.34,8355.87,8288.00,2374.55,2020-01-08 04:00:00,2020/1/8,1.005336,0.005322,2020,1.011291,2020/1/8:0,0.0100,68

In [18]:
# save updated dataset
merge_GT = merge_GT.drop(['NewDate','Year','8h'], axis=1)
merge_GT.head()

,close,open,high,low,Volume BTC,NewDateTime,returns,log_returns,SOPR,fundingRate,googleTrend
0,8431.82,8145.28,8455.00,8142.00,11041.87,2020-01-08 00:00:00,1.035179,0.034574,1.011291,0.0100,89
1,8370.92,8431.82,8448.14,8328.89,7355.82,2020-01-08 01:00:00,0.992777,-0.007249,1.011291,0.0100,86
2,8278.59,8370.92,8422.00,8256.74,4048.91,2020-01-08 02:00:00,0.988970,-0.011091,1.011291,0.0100,75
3,8300.34,8278.59,8344.00,8244.93,3947.38,2020-01-08 03:00:00,1.002627,0.002624,1.011291,0.0100,68
4,8344.63,8300.34,8355.87,8288.00,2374.55,2020-01-08 04:00:00,1.005336,0.005322,1.011291,0.0100,68

In [19]:
merge_GT.to_csv('bitcoin_data.csv')